.vscode
Int/*.obj
Intermediate/*.obj
*.o
*.log
*.pdb
*.tlog
*.log
*.idb
*.user
*.db
*.opendb
*.suo
*.ipch
*.res
*.sdf
*.db-shm
*.db-wal
*.exe
*.exp
*.ilk
StarRuler2
StarRuler2.*
Int/
source/*/Intermediate/
source/*/Build/
